__pycache__
__pycache__/
__pypackages__/
.cache
.coverage
.coverage.*
.dmypy.json
.eggs/
.env
.hypothesis/
.installed.cfg
.ipynb_checkpoints
.mypy_cache/
.nox/
.pdm.toml
.pybuilder/
.pyre/
.pytest_cache/
.Python
.python-version
.pytype/
.ropeproject
.scrapy
.spyderproject
.spyproject
.tox/
.venv
.webassets-cache
*__pycache__
*.__pycache__
*.cover
*.egg
*.egg-info
*.egg-info/
*.graphml
*.log
*.manifest
*.mo
*.pickle
*.pkl
*.pot
*.py,cover
*.py[cod]
*.pyc
*.sage.py
*.secret
*.so
*.spec
*.tr
*$py.class
/.vscode
/credentials.json
/input
/junk.py
/o
/site
/token.json
/token.pickle
annual backup
archive
build/
celerybeat-schedule
celerybeat.pid
cover/
coverage.xml
cython_debug/
d/businesses/forbes
data/test_data/tmb_john/*.csv
data/test_data/tmb_john/*.out
db.sqlite3
db.sqlite3-journal
develop-eggs/
dg.txt
dist
dist/
dmypy.json
docs/_build/
downloads/
durations.pickle
eggs/
env.bak/
env/
ENV/
examples
expected_completion.txt
failed.pickle
gitter.py
hak_test
htmlcov/
idle.txt
input/*.xlsx
instance/
internal/*.pkl
internal/persistent/secrets
internal/statistics
internal/temporary
investigation_*.txt
ipython_config.py
last_modified.pickle
latest.txt
lawn_service_records.txt
lib/
lib64/
local_settings.py
log.txt
MANIFEST
node_modules
nosetests.xml
notes.txt
o_copy
out.txt
output
output/statements/annual/*.txt
output/statements/monthly/*.txt
package-lock.json
package.json
parts/
pip-delete-this-directory.txt
pip-log.txt
pip-wheel-metadata/
prime10.zip
primes10.txt
profile_default/
progress.txt
records.txt
refactor.recommendations
scrap.out
scrap.py
sdist/
share/python-wheels/
src/acct_mba_book
src/superhero/activity_data/*.csv
src/superhero/activity_data/*.data
src/superhero/activity_data/*.pickle
src/superhero/activity_data/*.token
start.out
target/
test_directory_get_most_recently_modified/old_file.txt
test_log.txt
test.out
var/
venv.bak/
venv/
wheels/
